<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Office Tracker</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

</head>
<body>

<div class="container my-2">
    <h1>Medical Offices Tracker</h1>

    <p>Please select an action you would like to start with:</p>

    <a th:href = "@{/doctors}" class="btn btn-primary btn-sm mb-3"> Manage Doctors</a>
    <a th:href = "@{/offices}" class="btn btn-primary btn-sm mb-3"> Manage Offices </a>
    <a th:href = "@{/appointments}" class="btn btn-primary btn-sm mb-3"> Manage Appointments </a>

</div>

</body>
</html>